<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="cn.dsscm.dao.BillMapper">
 	<insert id="add" parameterType="Bill">
		INSERT INTO	tb_bill (
					billCode, productId, productName, productDesc,productUnit, 
					productCount,totalPrice,isPayment,createdBy,creationDate,providerId
					)
			 VALUES	(
					#{billCode}, #{productId}, #{productName}, #{productDesc}, #{productUnit}, 
					#{productCount}, #{totalPrice}, #{isPayment}, #{createdBy}, #{creationDate},#{providerId}
					);
 		
 	</insert>
 	
 	<resultMap type="Bill" id="bills">
 		<id column="id" property="id"/>
 		<result property="providerName" column="proname"/>
 	</resultMap>
 	<select id="getBillList" resultMap="bills">
 		select	b.*,p.proname
 		  from	tb_bill b,tb_provider p
 		 where	b.providerid=p.id
 		 <if test="productName !=null and productName !=''"> and productName like concat('%',#{productName},'%')</if>
 		 <if test="providerId !=null and providerId >=0">and providerId=#{providerId}</if>
 		 <if test="isPayment !=null and isPayment >0">and isPayment=#{isPayment}</if>
 	</select>
 	<delete id="deleteBillById">
 		delete from tb_bill
 			  where id=#{id}
 	</delete>
 	<select id="getBillById" resultMap="bills">
 		select	b.*,p.proname
 		  from	tb_bill b,tb_provider p
 		 where	b.providerid=p.id and b.id=#{id}
 	</select>
 	<update id="modify" parameterType="Bill">
 		UPDATE tb_bill 
 		<set>
 			<if test="productId !=null and productId >0">productId=#{productId},</if>
 			<if test="productName !=null and productName !=''">productName=#{productName},</if>
 			<if test="productDesc !=null and productDesc !=''">productDesc=#{productDesc},</if>
 			<if test="productUnit !=null and productUnit !=''">productUnit=#{productUnit},</if>
 			<if test="productCount !=null and productCount >0">productCount=#{productCount},</if>
 			<if test="totalPrice !=null and totalPrice >0">totalPrice=#{totalPrice},</if>
 			<if test="isPayment !=null and isPayment >0">isPayment=#{isPayment},</if>
 			<if test="modifyBy !=null and modifyBy >0">modifyBy=#{modifyBy},</if>
 			<if test="modifyDate !=null ">modifyDate=#{modifyDate},</if>
 			<if test="providerId !=null and providerId >0">providerId=#{providerId},</if>
 		</set>
		WHERE id = #{id} ;
 	</update>
 </mapper>